<div style="width: 500px; height: 400px; overflow: hidden;background-color: red; border: red solid 1px;">
  <canvas style="background-color: aqua" height="400" width="500" id="canvas" #canvasElement></canvas>
</div>
<div *ngIf="machineProperties">
  <h3>{{machineProperties.name}}</h3>
</div>
